@import "~@angular/material/theming";
@import "../../styles.scss";

/*
  Horizontal Stepper
*/
@mixin styleHorizontalStepLine($index, $before: true, $after: true) {
  .step-navigation-bar {
    .step:nth-child(#{$index}) {
      @if $before {
        &:before {
          background-color: map-get($stepper-accent, 500) !important;
        }
      }
      @if $after {
        &:after {
          background-color: map-get($stepper-accent, 500) !important;
        }
      }
    }
  }
}
@mixin styleAfterHorizontalStepLineGradient($index) {
  .step-navigation-bar {
    .step:nth-child(#{$index}) {
      &:after {
        background-image: linear-gradient(
          to right,
          map-get($stepper-accent, 500),
          map-get($stepper-primary, 500)
        ) !important;
      }
    }
  }
}
@mixin styleRemoveBeforeHorizontalStepLine($index) {
  .step-navigation-bar {
    .step:nth-child(#{$index}) {
      &:before {
        background-color: unset !important;
      }
    }
  }
}
@mixin styleRemoveAfterHorizontalStepLine($index) {
  .step-navigation-bar {
    .step:nth-child(#{$index}) {
      &:after {
        background-color: unset !important;
      }
    }
  }
}
.stepper-horizontal {
  min-width: 960px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .step-navigation-bar {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow: auto;
    padding: 1em;
    .step-nav-button {
      width: 30px;
      min-height: 80px;
      border: 0;
      color: inherit;
      cursor: pointer;
      outline: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: map-get($stepper-primary, 50);
      color: map-get($stepper-primary, 500);
    }
    .step {
      min-width: 100px;
      border: 0;
      padding: 10px;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      color: map-get($stepper-primary, 500);
      cursor: pointer;
    }
    .step:focus,
    .step:focus {
      outline: none;
    }
    .step:before {
      content: "";
      width: 100%;
      height: 2px;
      background-color: map-get($stepper-primary, 500);
      right: 35px;
      top: 39px;
      position: relative;
    }
    .step:after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: map-get($stepper-primary, 500);
      right: -35px;
      top: -25px;
      position: relative;
    }
    .step-number {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: solid 2px map-get($stepper-primary, 500);
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 0.5em;
      z-index: 1;
      background-color: white;
      font-weight: 600;
      transition: all 0.3s;
    }
    .step-label {
      margin-bottom: 0.5em;
    }
    .actived-step > .step-number {
      background-color: map-get($stepper-accent, 500);
      border-color: map-get($stepper-accent, 500);
      color: white;
    }
    .actived-step > .step-label {
      color: map-get($stepper-accent, 500);
      font-weight: 600;
    }
    .completed-step > .step-number {
      background-color: map-get($stepper-accent, 500);
      border-color: map-get($stepper-accent, 500);
      color: white;
    }
    .completed-step > .step-label {
      color: map-get($stepper-accent, 500);
      font-weight: 600;
    }
  }
  .step-content {
    width: 100%;
  }
  @include styleRemoveBeforeHorizontalStepLine(1);
  @include styleRemoveAfterHorizontalStepLine(7);
}

.horizontal-step-1-done {
  @include styleHorizontalStepLine(1, false, true);
  @include styleAfterHorizontalStepLineGradient(1);
}
.horizontal-step-2-done {
  @include styleHorizontalStepLine(1, false, true);
  @include styleHorizontalStepLine(2);
  @include styleAfterHorizontalStepLineGradient(2);
}
.horizontal-step-3-done {
  @include styleHorizontalStepLine(1, false, true);
  @include styleHorizontalStepLine(2);
  @include styleHorizontalStepLine(3);
  @include styleAfterHorizontalStepLineGradient(3);
}
.horizontal-step-4-done {
  @include styleHorizontalStepLine(1, false, true);
  @include styleHorizontalStepLine(2);
  @include styleHorizontalStepLine(3);
  @include styleHorizontalStepLine(4);
  @include styleAfterHorizontalStepLineGradient(4);
}
.horizontal-step-5-done {
  @include styleHorizontalStepLine(1, false, true);
  @include styleHorizontalStepLine(2);
  @include styleHorizontalStepLine(3);
  @include styleHorizontalStepLine(4);
  @include styleHorizontalStepLine(5);
  @include styleAfterHorizontalStepLineGradient(5);
}
.horizontal-step-6-done {
  @include styleHorizontalStepLine(1, false, true);
  @include styleHorizontalStepLine(2);
  @include styleHorizontalStepLine(3);
  @include styleHorizontalStepLine(4);
  @include styleHorizontalStepLine(5);
  @include styleHorizontalStepLine(6);
  @include styleAfterHorizontalStepLineGradient(6);
}
.horizontal-step-7-done {
  @include styleHorizontalStepLine(1, false, true);
  @include styleHorizontalStepLine(2);
  @include styleHorizontalStepLine(3);
  @include styleHorizontalStepLine(4);
  @include styleHorizontalStepLine(5);
  @include styleHorizontalStepLine(6);
  @include styleHorizontalStepLine(7, true, false);
}

/*
  Vertical Stepper
*/
@mixin styleVerticalStepLine($index) {
  .step:nth-child(#{$index}) .step-number:after {
    background-color: red !important;
  }
}
@mixin styleRemoveAfterVerticalStepLine($index) {
  .step:nth-child(#{$index}) .step-number:after {
    background-color: unset !important;
  }
}
.stepper-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .step {
    width: 100%;
    display: flex;
    .step-header {
      display: flex;
      flex: 1;
      flex-direction: row;
      .left-header {
        width: auto;
        display: flex;
        .step-number {
          width: 100%;
          padding: 0 1em;
          display: flex;
          align-items: flex-start;
          justify-content: center;
          button {
            width: 34px;
            height: 34px;
            border-radius: 50%;
            z-index: 1;
            cursor: pointer;
            outline: none;
            border: solid 2px map-get($stepper-primary, 500);
            color: map-get($stepper-primary, 500);
            font-weight: 600;
            transition: all 0.3s;
            mat-icon {
              margin-left: -3px;
            }
          }
        }
        .step-number > .actived-step {
          background-color: map-get($stepper-accent, 500);
          border-color: map-get($stepper-accent, 500);
          color: white;
        }
        .step-number > .completed-step {
          background-color: map-get($stepper-accent, 500);
          border-color: map-get($stepper-accent, 500);
          color: white;
        }
        .step-number:after {
          content: "";
          width: 2px;
          height: 100%;
          background-color: map-get($stepper-primary, 500);
          position: relative;
          left: -17px;
        }
      }
      .right-header {
        width: 100%;
        .step-label {
          min-height: 40px;
          padding-top: 0.3em;
          cursor: pointer;
        }
        .actived-step,
        .completed-step {
          color: map-get($stepper-accent, 500) !important;
        }
      }
    }
    .step-content {
      width: 100%;
      box-sizing: border-box;
      max-height: 0;
      transition: max-height ease-out;
      overflow: hidden;
    }
    .step-opened {
      max-height: 2000px;
      transition: max-height 1s ease-in;
    }
  }
  @include styleRemoveAfterVerticalStepLine(7);
}
.vertical-step-2-done {
  @include styleVerticalStepLine(1);
}
.vertical-step-3-done {
  @include styleVerticalStepLine(1);
  @include styleVerticalStepLine(2);
}
.vertical-step-4-done {
  @include styleVerticalStepLine(1);
  @include styleVerticalStepLine(2);
  @include styleVerticalStepLine(3);
}
.vertical-step-5-done {
  @include styleVerticalStepLine(1);
  @include styleVerticalStepLine(2);
  @include styleVerticalStepLine(3);
  @include styleVerticalStepLine(4);
}
.vertical-step-6-done {
  @include styleVerticalStepLine(1);
  @include styleVerticalStepLine(2);
  @include styleVerticalStepLine(3);
  @include styleVerticalStepLine(4);
  @include styleVerticalStepLine(5);
}
.vertical-step-7-done {
  @include styleVerticalStepLine(1);
  @include styleVerticalStepLine(2);
  @include styleVerticalStepLine(3);
  @include styleVerticalStepLine(4);
  @include styleVerticalStepLine(5);
  @include styleVerticalStepLine(6);
}
.vertical-step-7-done {
  @include styleVerticalStepLine(1);
  @include styleVerticalStepLine(2);
  @include styleVerticalStepLine(3);
  @include styleVerticalStepLine(4);
  @include styleVerticalStepLine(5);
  @include styleVerticalStepLine(6);
}
