<section *ngIf="direction === 'horizontal'" class="{{'stepper-horizontal '+'horizontal-step-'+(selectedIndex+1)+'-done'}}">
  <header class="step-navigation-bar">
    <button matRipple class="step" *ngFor="let step of steps; let i = index"
      [ngClass]="{ 'actived-step': selectedIndex === i, 'completed-step': step.completed }" (click)="onClick(i)">
      <div class="step-label">{{ step.label }}</div>
      <div *ngIf="!step.completed" class="step-number">{{ i + 1 }}</div>
      <div *ngIf="step.completed" class="step-number">
        <mat-icon>check</mat-icon>
      </div>
    </button>
  </header>
  <div class="step-content" [style.display]="selected ? 'block' : 'none'">
    <ng-container [ngTemplateOutlet]="selected.content"></ng-container>
  </div>
</section>

<section *ngIf="direction === 'vertical'" class="{{'stepper-vertical '+'vertical-step-'+(selectedIndex+1)+'-done'}}">
  <div class="step" *ngFor="let step of steps; let i = index" (click)="onClick(i)">
    <div class="step-header">
      <div class="left-header">
        <div class="step-number">
          <button matRipple [ngClass]="{ 'actived-step': selectedIndex === i, 'completed-step': step.completed }">
            <span *ngIf="!step.completed">{{i+1}}</span>
            <mat-icon *ngIf="step.completed">check</mat-icon>
          </button>
        </div>
      </div>
      <div class="right-header">
        <div matRipple class="step-label" [ngClass]="{ 'actived-step': selectedIndex === i, 'completed-step': step.completed }">{{step.label}}</div>
        <div class="step-content" [class.step-opened]="selectedIndex === i">
          <ng-container [ngTemplateOutlet]="step.content"></ng-container>
        </div>
      </div>
    </div>
  </div>
</section>