<vj-stepper linear>
  <cdk-step [editable]="false" label="Step 123 Steppp">
    <p>This is any content of "Step 1"</p>
  </cdk-step>
  <cdk-step [editable]="false" label="Step 12333">
    <p>This is any content of "Step 2"</p>
  </cdk-step>
  <cdk-step [editable]="false" label="Get Started">
    <p>This is any content of "Step 3"</p>
  </cdk-step>
  <cdk-step [editable]="false" label="Validation">
    <p>This is any content of "Step 4"</p>
  </cdk-step>
  <cdk-step [editable]="false" label="Step 5">
    <p>This is any content of "Step 5"</p>
  </cdk-step>
  <cdk-step [editable]="false" label="Step 6">
    <p>This is any content of "Step 6"</p>
  </cdk-step>
  <cdk-step [editable]="false" label="Step 7">
    <p>This is any content of "Step 7"</p>
  </cdk-step>
</vj-stepper>